// COLOR
$bg-header-navbar: #1396ab;
$bg-header-navbar-hv:#17a2b8;
$bg-main-wrapper :#f2f4f8;
$bg-active :#36c6d3;
$bg-disable :#f7ca18;
$gray-color:#eeeeee;
$green-color:#17a2b8;
$light-green-color:#4bdfc5;
$green-color-hv:#2cb99c;
$black-color: #888;
$black-color-hv: #696868;
$orange-color: #fb9678;
$blue-color: #55acee;
$red-color:#e7505a;
// SIZE
$w-navbar-header:125px;
$w-navbar-header-sm:60px;

